.buttonText {
  position: relative;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px;
  color: #FFF;
  text-align: center;
  margin-right: 20px;
  margin-left: -20px;
  
  background-image: linear-gradient(to left, #0000007a,#8b8b8b, #a09f9f);
  transition: all 0.4s ease;
  
  /* background-color:  linear-gradient( #000000, #ffffff); */
}


.buttonText:hover {
  background-image: linear-gradient(to right, #000000,#414141, #505050);
  border: 2px solid #ffffff;
  transition: all 0.4s ease;

}

.buttonText:active {
  background-image: linear-gradient(to right, #000000,#464646, #686868);
  transition: all 0.4s ease;
}